@switch (this.kind) { @case('flat') {
<button
	class="ig-button"
	mat-flat-button
	[type]="this.type"
	[disabled]="this.disabled"
>
	@if (this.icon) {
	<mat-icon>{{ this.icon }}</mat-icon>
	} @if (this.label) {
	<span>{{ this.label }}</span>
	}
</button>
} @case('raised') {
<button
	class="ig-button"
	mat-raised-button
	[type]="this.type"
	[disabled]="this.disabled"
>
	@if (this.icon) {
	<mat-icon>{{ this.icon }}</mat-icon>
	} @if (this.label) {
	<span>{{ this.label }}</span>
	}
</button>
} @case('icon') {
<button
	class="ig-button"
	mat-icon-button
	[type]="this.type"
	[disabled]="this.disabled"
>
	@if (this.icon) {
	<mat-icon>{{ this.icon }}</mat-icon>
	}
</button>
} @default {
<button
	class="ig-button"
	mat-button
	[type]="this.type"
	[disabled]="this.disabled"
>
	@if (this.icon) {
	<mat-icon>{{ this.icon }}</mat-icon>
	} @if (this.label) {
	<span>{{ this.label }}</span>
	}
</button>
} }
